<h1 mat-dialog-title>Modifying Appointment</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            <div class="row">
                <label>Employee: </label><br>
                <select class="input-1"  style="width: 75%" [(ngModel)]="this.employee">
                    <option disabled>--Select Employee--</option>
                    <option *ngFor="let e of employees" [ngValue]="e">{{e.employeeName}}</option>
                </select>
            </div>

            <div class="row">
                <label>Customer: </label><br>
                <select class="input-1"  style="width: 75%" [(ngModel)]="this.customer">
                    <option disabled>--Select Customer--</option>
                    <option *ngFor="let c of customers" [ngValue]="c">{{c.customerName}}</option>
                </select>

            </div>


            <div class="row" >
                <label>Appointment Title: </label><br>
                <input matInput class="input-1" [(ngModel)]="this.appointmentTitle" style="width: 72%">
            </div>


            <br>


            <div class="grid-1">
                <div class="row">
                    <div class="col">
                        <mat-label>Start Date/Time</mat-label>                        
                    </div>
                    <div class="col">
                        <input type="datetime-local" class="input-1" [(ngModel)]="startDateTimeString" >                            
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col">
                        <mat-label>End Date/Time</mat-label>      
                    </div>
                    <div class="col">
                        <input type="datetime-local" class="input-1" [(ngModel)]="endDateTimeString" >
                    </div>    
                </div>
            </div>
        
            <br>

        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="button-secondary" (click)="onNoClick()">Cancel</button>
  &nbsp;
  <button mat-button cdkFocusInitial class="button-primary" (click)="updateAppointment()">Update</button>
</div>


