<h1 mat-dialog-title>Add Appointment</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">
            <div class="row">
                <label>Employee: </label><br>
                <select class="input-1"  style="width: 75%" [(ngModel)]="employeeName">
                    <option selected disabled>--Select Employee--</option>
                    <option *ngFor="let e of employees">{{e.employeeName}}</option>
                </select>
            </div>

            <div class="row">
                <label>Customer: </label><br>
                <select class="input-1"  style="width: 75%" [(ngModel)]="cust">
                    <option *ngFor="let customer of customers">{{customer.customerName}}</option>
                </select>
            </div>

            <div class="row">
                <label>Appointment Title: </label><br>
                <input class="input-1" [(ngModel)]="appointmentTitle">
            </div>

            <div class="row">
                <div class="row">
                    <mat-label>Start Date/Time</mat-label>
                </div>

                <div class="row">
                    <input type="datetime-local" class="input-1" [(ngModel)]="startDateTime" >
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <mat-label>End Date/Time</mat-label>
                </div>
                
                <div class="row">
                    <input type="datetime-local" class="input-1" [(ngModel)]="endDateTime" >
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="button-secondary">Cancel</button>
  &nbsp;
  <button mat-button cdkFocusInitial class="button-primary" (click)="addAppointment()">Add</button>
</div>


